<ion-header>
  <ion-toolbar>
    <ion-title>
      สแกน QR โค้ด
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="welcome-card">
        <ion-img src="/assets/book/barcode.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title align="center">เช็คชื่อผ่าน QR โค้ด </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-col  class="center pt-20">         
                <ion-button size="small" expand="block" fill="outline" (click)="scanCode()">
                    <ion-icon slot="start" name="barcode" ></ion-icon>
                     SCAN BARCODE  
                </ion-button>
            </ion-col>  
        </ion-card-content>
      </ion-card>
      <!-- <ion-button (click)="scanCode()">Scan Code</ion-button> -->
      <p>{{scannedResult}}</p>
      
</ion-content>
